<%- include('../partials/header') %>

    <table id="list">
        <thead>
          <tr>

            <th></th>
            <th>PRINCIPAL</th>
            <th>TEAM</th>
            <th>CAR</th>

          </tr>
        </thead>
        <tbody>
          <% teams.forEach(function(team) { %>
            <tr>

              <td class="team-user"><img alt="avatar" src="<%= team.userAvatar %>" referrerpolicy="no-referrer" ></td>
              <td><%= team.userName %></td>
              <td><%= team.teamName %></td>
              <td><%= team.teamCar %></td>
              <td><a href="/teams/<%= team._id %>">DRIVERS</a></td>
            <% if(user) { %>
              <td>
                <form action="/teams/<%= team.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">DELETE</button>
                </form>
              </td>
              <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>