<%- include('../partials/header') %>
   
<div>
    <table>
        <thead>
        <tr>
            <td class="teamName"><%= team.teamName %></td>
        </tr>
        </thead>
    </table>
</div> 
<!-- start driver list -->
<h3>TEAM DRIVERS</h3>
    <table>
        <thead>
            <tr>
              <th class="teamData">DRIVER</th>
              <th class="teamData">AGE</th>
              <th class="teamData">NATIONALITY</th>
            </tr>
        </thead>
<% team.members.forEach(function(member) { %>
        <tr>
            <td class="teamData"><%= member.driverName %></td>
            <td class="teamData"><%= member.age %></td>
            <td class="teamData"><%= member.country %></td>
        </tr>
<% }); %>
    </table>
<% if (user && user._id.equals(team.user)) { %>
<!-- end driver list -->
<h3>AVAILABLE DRIVERS</h3>
<div>
<table>
    <thead>
          <tr>
            <th class="teamData">DRIVER</th>
            <th class="teamData">AGE</th>
            <th class="teamData">NATIONALITY</th>
          </tr>
    </thead>
<tbody>
    <% drivers.forEach(function(availableDriver) { %>
        <tr class="tableHeader">
            <td class="teamData"><%= availableDriver.driverName %></td>
            <td class="teamData"><%= availableDriver.age %></td>
            <td class="teamData"><%= availableDriver.country %></td>
        </tr>
    <% }); %>
</tbody>
</table>
</div>
<p>*IF THERE ARE NO AVAILABLE DRIVERS YOU MUST <strong>CREATE</strong> A DRIVER</p>
<!-- add to team form below this comment -->
<form id="addDriverToTeam" action="/teams/<%=team._id %>/drivers" method="POST">
    <select name="driverId">
      <%- drivers.map(driver => 
        `<option value="${driver._id}">${driver.driverName}</option>`
      ).join('') %>
    </select>
    <button class="addButton" type="submit">Add Driver to Team</button>
</form>
<!-- add to team form above this comment -->


<a id="editLink" href="/teams/<%= team._id %>/edit">EDIT TEAM</a>
<% } %>

<%- include('../partials/footer') %>