<%- include('../partials/header') %>

    <a href="/">home</a>

    
    
<div>
    <table>
        <thead>
        <tr>
            <th>TEAM NAME:</th>
            <td><%= team.teamName %></td>
        </tr>
        </thead>
    </table>
</div> 
<!-- start driver list -->
<div>Team Drivers:</div>
<ul>
  <%- team.members.map(member => 
    `<li>${member.driverName} <small>${member.age}</small></li>`
  ).join('') %>
</ul>
<!-- end driver list -->
<!-- add to team form below this comment -->
<form id="add-driver-to-team" action="/teams/<%=team._id %>/drivers" method="POST">
    <select name="driverId">
      <%- drivers.map(driver => 
        `<option value="${driver._id}">${driver.driverName}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add Driver to Team</button>
</form>
<!-- add to team form above this comment -->
<div>
    <h2>list of all drivers</h2>
    <table>
        <thead>
            <th>
                Driver
            </th>
            <th>
                Age
            </th>
            
        </thead>
        <% drivers.forEach(function(driver) { %>
            <tr>
                <td><%= driver.driverName %></td>
                <td><%= driver.age %></td>
              
            </tr>
        <% }) %>
      </table>
</div>       


<%- include('../partials/footer') %>