<%- include('../partials/header') %>

    <a href="/">home</a>

    <a href="/teams/<%= team._id %>/drivers/new"><button>Add Driver</button></a>
    
<div>
    <table>
        <thead>
        <tr>
            <th>TEAM NAME:</th>
            <td><%= team.teamName %></td>
        </tr>
        </thead>
    </table>
</div> 
<div>
    <table>
        <thead>
            <th>
                Driver
            </th>
            <th>
                Age
            </th>
            
        </thead>
        <% drivers.forEach(function(driver) { %>
            <tr>
                <td><%= driver.driverName %></td>
                <td><%= driver.age %></td>
              
            </tr>
        <% }) %>
      </table>
</div>       


<%- include('../partials/footer') %>